.data-hora {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botoes-ponto {
    width: 6cm;
    height: 2cm;
    object-fit: cover;
}
.hidden {
    display: none;
}

/* Classe para mostrar o alerta */
.show {
    display: block;
    /* Estilos opcionais para o alerta */
    background-color: lightgreen;
    border: 1px solid green;
    padding: 10px;
    margin: 10px;
}

